# Ignore Rommulus simulation files
Rommulus_withLight_Mock_i2_SNIa_z1_cusp

# Ignore lensing galaxy files
lensing_galaxy

*.fits

sim_plot_2.ipynb

animation.html

last9.patch

Sim 6_summary.csv

sim_plot_4.ipynb

Shear Shift

Sim 8_summary_*.csv

Sim 8_summary.csv

Sim 9_summary_*.csv

Sim 9_summary.csv

Sim 10_summary_*.csv

Sim 10_summary.csv

Sim 11_summary_*.csv

Sim 11_summary.csv

Sim 12_summary_*.csv

Sim 12_summary.csv