# Ignore Rommulus simulation files
Rommulus_withLight_Mock_i2_SNIa_z1_cusp

# Ignore lensing galaxy files
lensing_galaxy

*.fits

sim_plot_2.ipynb

animation.html

last9.patch

Sim 6_summary.csv

sim_plot_4.ipynb

Shear Shift

Sim 8_summary_*.csv

Sim 8_summary.csv

Sim 9_summary_*.csv

Sim 9_summary.csv

Sim 10_summary_*.csv

Sim 10_summary.csv

Sim 11_summary_*.csv

Sim 11_summary.csv

Sim 12_summary_*.csv

Sim 12_summary.csv

Sim 13_summary_*.csv

Sim 13_summary.csv

Sim 1.csv

Sim 2.csv

Sim 3.csv

Sim 4.csv

Sim 5.csv

Sim 6.csv

Sim 7.csv

Sim 8.csv

Sim 9.csv

Sim 10.csv

Sim 11.csv

Sim 12.csv

Sim 13.csv

Sim 14.csv

.DS_Store

Sim 15.csv

Sim 16.csv

Sim 17.csv

Sim 18.csv

Sim 19.csv

Sim 20.csv

Sim 21.csv

System 1 Combined_combined.csv
